{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
  <form method="post" id="search">
    <label for="search">Search</label>
    <input 
    type="text" placeholder="Name or Type of Product" 
    name="search" id="search">
    <button for="search" type="submit" value="Submit">Submit</button>
</form>
</div>

{% block search_content %}{% endblock %}

{% endblock %}